#footer{
    margin: 50px 0;
    width: 100%;

    h4{
        color: #BDBDBD;
        font: 14px/18px "DH-Regular";
        margin: 0 auto;
        text-align: center;

        span{
            color: #FF5C4C;
        }
    }
}